{% extends 'base_main.html' %}

{% block base_content %}
<body class="homepage">
	<!-- Header -->
	<div id="header">
		<div class="container"> 
			<img src="../media/images/1.jpg" min-width = "1200px">
			
			<!-- Logo -->
			<div id="logo">
				<h1><a href="{% url 'recommand:main' %}">Fashion</a></h1>
				<span>For your style</span>
			</div>
			
			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="active"><a href="{% url 'recommand:main' %}">Homepage</a></li>
					<li><a href="{% url 'recommand:man' %}">MAN</a></li>
					<li><a href="{% url 'recommand:woman' %}">WOMAN</a></li>
				</ul>
			</nav>
		</div>
	</div>


	<!-- Footer -->
	<div id="featured">
		<div class="container">
			<div class="row">
				
				<div class="4u">
					<h2>MAN</h2>
					<a href="{% url 'recommand:man' %}" class="image full"><img src="../media/images/m_1.jpg" alt="" width="314" height="500"></a>
					
					<p><a href="{% url 'recommand:man' %}" class="button">More Details</a></p>
				</div>

				<div class="4u">
					<h2>WOMAN</h2>
					<a href="{% url 'recommand:woman' %}" class="image full"><img src="../media/images/w_1.jpg" alt="" width="314" height="500"></a>
					
					<p><a href="{% url 'recommand:woman' %}" class="button">More Details</a></p>
				</div>
				<div class ="4u">
					<h2>test</h2>
					<img id = "imge_id" src = "../media/images/man/1.jpg">
					<script language = "javascript">
						var obTimeOut; // claerTimeout() 함수 이용하여 Timeout 취소하기 위해 사용

						var ObjectArray = new Array();
						ObjectArray[1] = "1.jpg";
						ObjectArray[2] = "2.jpg";
						ObjectArray[3] = "../media/images/man/3.jpg";
						ObjectArray[4] = "../media/images/man/4.jpg";
						ObjectArray[5] = "../media/images/man/5.jpg";
						ObjectArray[6] = "../media/images/man/6.jpg";

						var nObjectCnt = 0;
						function ShowDefaultRotate() //스스로 자신을 호출하는 재귀함수(Recursive Function)
						{
							nObjectCnt++;
						}
						if(nObjectCnt < ObjectArray.length)// 배열의 개수 이내일때만 실행	
						{
							document.getElementById("img_id").src = ObjectArray[nObjectCnt];
							obTimeOut = setTimeout("showDefaultRotate()", 1000); //1초후에 자기자신 호출
						}

						else
						{
							clearTimeout(obTimeOut); // 배열 개수만큼 반복하여 변환시킨 수 Timeout 종료

						}
						
						function startAnimation()
						{
							obTimeOut = window.setTimeout(showDefaultRotate, 100); // 윈도우 로드 후 0.1초 후에 반복함수 호출
						}

						onload = startAnimation;

					</script>
				</div>

			</div>
		</div>
	</div>
</body>
{% endblock%}